body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(25, 18, 56), rgb(91, 69, 190));
    
}

.glow-effect{
    /* font-size: 80px; */
    font-size: 4em; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.07em;
    color: rgb(18, 35, 118);
    text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #228dff,0 0 35px #228dff,0 0 40px #228dff;
}

.gridbox{
    width: 100%;
    max-width: 450px; /* Set a max-width for better readability on larger screens */
    margin: 0 auto;
/* 
    height: 450px;
    width: 450px; */
    display: grid;
    gap: 2px;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 10px;
    /* margin-left: 35%  ; */
}

.grid-item {
    /* height: 107px;
    width: 107px; */
    width: 70%; 
    height: 70%;
    background-color: rgba(173, 212, 230, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }

 .button-option{
    height: 109px;
    width: 109px;
    
 }
 .popup.hide {
    display: none;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: 15% 25%;
    background-color: rgba(0, 0, 0, 0.4);
    border: #888;
    border-radius: 20px;
 }

 .modal-content {
    background-color: rgba(237, 232, 232, 0.958);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%;
    /* font-size: 20px; */
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgb(18, 35, 118);
    text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #228dff,0 0 35px #228dff,0 0 40px #228dff;

 }
 #new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: #0a0027;
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
  }
 @media screen and (max-width: 768px) {
    .grid-item {
       width: 70%;
       height: 70%;
    }
 }

  
